* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02A04E), to(#01753A));
  background-image: linear-gradient(180deg, #02A04E 0%, #01753A 100%);
}

.text {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  cursor: default;
}

@media (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}

@media (orientation: landscape) {
  .text {
    font-size: 16px;
  }
}

.text--red {
  text-decoration: none;
  font-size: 8px;
  color: #EC6969;
  cursor: pointer;
}

@media (min-width: 768px) {
  .text--red {
    font-size: 16px;
  }
}

@media (orientation: landscape) {
  .text--red {
    font-size: 12px;
  }
}

.text--small {
  font-size: 8px;
}

@media (min-width: 768px) {
  .text--small {
    font-size: 16px;
  }
}

@media (orientation: landscape) {
  .text--small {
    font-size: 12px;
  }
}

.button {
  background-color: #fff;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  line-height: 28px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    line-height: 40px;
  }
}

@media (orientation: landscape) {
  .button {
    line-height: 35px;
  }
}

.button--login {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02A04E), to(#01753A));
  background-image: linear-gradient(180deg, #02A04E 0%, #01753A 100%);
  color: #FFFFFF;
}

.vector {
  border: 1px solid #E1E1E1;
  width: 100%;
}

.alternative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alternative__vector {
  border: 1px solid #E1E1E1;
  width: 25%;
}

.alternative__text {
  text-transform: uppercase;
  line-height: 10px;
  text-align: center;
  color: #999999;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  width: 100%;
  line-height: 28px;
  padding-left: 10px;
}

@media (orientation: landscape) {
  .input {
    line-height: 35px;
  }
}

.inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inf__stay-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inf__stay-logged .checkbox {
  cursor: pointer;
}

.inf__stay-logged .checkbox__text {
  cursor: pointer;
}

.inf__stay-logged .text {
  color: #4D4D4D;
  margin-left: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vw;
  height: 65vh;
  background-color: #fff;
}

@media (orientation: landscape) {
  .wrapper section {
    width: 45vw;
    height: 40vw;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: url(../svg/Flower.svg) no-repeat 50% 50%/100% auto;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 100%;
  padding: 20px 0;
  max-width: 400px;
}

@media (orientation: landscape) {
  .main {
    width: 26vw;
  }
}

.main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main .logo__img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

@media (min-width: 360px) {
  .main .logo__img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .main .logo__img {
    width: 60px;
    height: 60px;
  }
}

@media (orientation: landscape) {
  .main .logo__img {
    width: 45px;
    height: 45px;
  }
}

.main .logo__name {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
}

@media (min-width: 360px) {
  .main .logo__name {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .main .logo__name {
    font-size: 34px;
    line-height: 60px;
  }
}

@media (orientation: landscape) {
  .main .logo__name {
    font-size: 25px;
    line-height: 45px;
  }
}

.main__h1 {
  text-align: center;
  font-size: 25px;
  color: #4D4D4D;
}

@media (min-width: 360px) {
  .main__h1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .main__h1 {
    font-size: 56px;
  }
}

@media (orientation: landscape) {
  .main__h1 {
    font-size: 44px;
  }
}

.main__account {
  text-align: center;
  color: #999;
}

.main__login .email,
.main__login .password {
  position: relative;
  height: 47px;
}

.main__login .email--input,
.main__login .password--input {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.main__login .email--p,
.main__login .password--p {
  position: absolute;
  left: 0;
  bottom: 29px;
}

@media (orientation: landscape) {
  .main__login .email,
  .main__login .password {
    height: 53px;
  }
  .main__login .email--input:hover + .email--p,
  .main__login .email--input:hover + .password--p,
  .main__login .password--input:hover + .email--p,
  .main__login .password--input:hover + .password--p {
    left: 0;
    bottom: 36px;
    font-size: 14px;
  }
  .main__login .email--input:focus ~ .email--p,
  .main__login .email--input:not(:focus):valid ~ .email--p,
  .main__login .email--input:focus ~ .password--p,
  .main__login .email--input:not(:focus):valid ~ .password--p,
  .main__login .password--input:focus ~ .email--p,
  .main__login .password--input:not(:focus):valid ~ .email--p,
  .main__login .password--input:focus ~ .password--p,
  .main__login .password--input:not(:focus):valid ~ .password--p {
    bottom: 36px;
    left: 0;
    font-size: 14px;
    opacity: 1;
  }
  .main__login .email--p,
  .main__login .password--p {
    left: 10px;
    bottom: 9.5px;
    cursor: text;
    -webkit-transition: .2s;
    transition: .2s;
  }
}
/*# sourceMappingURL=style.css.map */