* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02A04E), to(#01753A));
  background-image: linear-gradient(180deg, #02A04E 0%, #01753A 100%);
}

.text {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  cursor: default;
}

.text--red {
  text-decoration: none;
  font-size: 8px;
  color: #EC6969;
  cursor: pointer;
}

.button {
  background-color: #fff;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  line-height: 28px;
  cursor: pointer;
}

.button--login {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02A04E), to(#01753A));
  background-image: linear-gradient(180deg, #02A04E 0%, #01753A 100%);
  font-size: 14px;
  color: #FFFFFF;
}

.vector {
  border: 1px solid #E1E1E1;
  width: 100%;
}

.alternative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alternative__vector {
  border: 1px solid #E1E1E1;
  width: calc((100% - 96px)/2);
}

.alternative__text {
  text-transform: uppercase;
  font-size: 8px;
  line-height: 10px;
  width: 90px;
  text-align: center;
  color: #999999;
}

.input {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  width: 100%;
  line-height: 28px;
}

.inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inf__stay-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inf__stay-logged .checkbox {
  cursor: pointer;
}

.inf__stay-logged .text {
  font-size: 7px;
  color: #4D4D4D;
  margin-left: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 65%;
  background-color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 70%;
  padding: 10% 0;
}

.main .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 40px;
  padding-bottom: 25%;
}

.main .logo__img {
  position: relative;
  -webkit-transform: translateX(calc(-100% - 32px));
          transform: translateX(calc(-100% - 32px));
  width: 40px;
  height: 40px;
}

.main .logo__name {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
}

.main__h1 {
  position: absolute;
  width: 80vw;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 36px;
  color: #4D4D4D;
}

.main__account {
  text-align: center;
  font-size: 8px;
  color: #999;
}
/*# sourceMappingURL=style.css.map */