.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    padding: 10% 0;

    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        line-height: 40px;
        padding-bottom: 25%;

        &__img {
            position: relative;
            transform: translateX(calc(-100% - 32px));
            width: 40px;
            height: 40px;
        }

        &__name {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
        }
    }

    &__h1 {
        position: absolute;
        width: 80vw;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 36px;
        color: #4D4D4D;
    }

    &__account {
        text-align: center;
        font-size: 8px;
        color: #999;

    }

}