.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    // height: 100%;
    width: 70%;
    height: 100%;
    padding: 20px 0;
    max-width: 400px;

    .logo {
        display: flex;
        justify-content: center;
        align-content: center;

        &__img {
            display: inline-block;
            width: 30px;
            height: 30px;

            @media (min-width: 360px) {
                & {
                    width: 40px;
                    height: 40px;
                }
            }

            @media (min-width: 768px) {
                & {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &__name {
            display: inline-block;
            font-size: 16px;
            line-height: 30px;

            @media (min-width: 360px) {
                & {
                    font-size: 18px;
                    line-height: 40px;
                }
            }

            @media (min-width: 768px) {
                & {
                    font-size: 34px;
                    line-height: 60px;
                }
            }
        }
    }

    &__h1 {
        // position: relative;
        // width: 80vw;
        // top: 20%;
        // left: 50%;
        // transform: translateX(-50%);
        text-align: center;
        font-size: 25px;
        color: #4D4D4D;

        @media (min-width: 360px) {
            & {
                font-size: 36px;
            }
        }

        @media (min-width: 768px) {
            & {
                font-size: 56px;
            }
        }
    }

    &__account {
        text-align: center;
        color: #999;

    }

}